@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

img {
	width: 380px;
	height: 380px;
	border-radius: 50%;
}

/* I use .border for bug fixing*/
.border {
	border: 1px solid #ff0000;
}

.everything-container {
	margin: 0% 10% 0 10%;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

.nav-container{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.title-container {
	display:flex;
	flex-flow: column nowrap;
	align-items: center;
}

.projects-container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.socials-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.heading {
	display: block;
	text-align: center;
	width: 100%;
	scroll-margin: 20px;
}

footer img {
	width: 80px;
	height : 80px;
}