@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
  	box-sizing: border-box;
}

html {
  	font-family: 'Open Sans', sans-serif;
  	font-size: 16px;
  	scroll-behavior: smooth;
  	/* I believe this makes the scroll transition in the nav smooth instead of a snap*/
}

a {
	text-decoration: none;
}

img {
	width: 350px;
	height: 350px;
	border-radius: 50%;
}

p {
	margin: 0, 0, 16, 0;
}

/* I use .border for bug fixing*/
.border {
	border: 1px solid #ff0000;
}

.everything-container {
	margin: 0% 10% 0 10%;
}

header {
  	position: sticky;
  	top: 0;
  	width: 100%;
  	background-color: #ffffff;
}

.nav-container{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.title-container, .projects-card-container {
	display:flex;
	flex-flow: column nowrap;
	align-items: center;
}

.socials-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.heading {
	text-align: center;
	width: 100%;
}

section {
	scroll-margin: 20px;
}

footer {
	margin-bottom: 16;
}

footer img {
	width: 40px;
	height : 40px;
	border-radius: 0;
}

footer p {
	display: block;
	text-align: center;
	margin: 0;
}

@media screen and (min-width: 1080px) {
	 .projects-container {
		 display: flex;
		 flex-flow: row nowrap;
		 justify-content: space-evenly;
    
  }
  	 .projects-card-container {
		 display: flex;
		 flex-flow: column nowrap;
		 width: 40%;
  }
  .nav-container {
  		 display: flex;
  		 flex-flow: row nowrap;
  		 justify-content: space-evenly; 	
  }
} 